@model System.Diagnostics.Process;
@{
    ViewData["Title"] = "Process Details";
}
<div>
    <table>
        <tr>
            <td>ID</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
             <td>Process Name</td>
             <td>@Model.ProcessName</td>
        </tr>
        <tr>
             <td>count</td>
             <td>@Model.HandleCount</td>
        </tr>
    </table>
</div>