@{
    ViewData["Title"] = "Processes";
    var procs = ViewBag.Procs;
}
<div>
    <h2>@ViewData["Title"]</h2>
    <ul>
        @foreach (var item in procs)
        {
            <li>
                <a asp-controller="Process" asp-action="Display" asp-route-id="@item.Id">@item.ProcessName</a>
            </li>
        }
    </ul>
</div>